[submodule "submodules/growthbeat-ios"]
	path = submodules/growthbeat-ios
	url = https://github.com/SIROK/growthbeat-ios.git
[submodule "submodules/growthbeat-android"]
	path = submodules/growthbeat-android
	url = https://github.com/SIROK/growthbeat-android.git
[submodule "submodules/cocos2d-x"]
	path = submodules/cocos2d-x
	url = https://github.com/cocos2d/cocos2d-x
